:root {
    /* color */
    --light-gray: #e4e4e4;
    --gray: #929292;
    --bg-light-gray: hsl(210, 29%, 97%);
    --bg-gray: hsl(210, 14%, 95%);

    /* property */
    --border-line: solid 1px var(--light-gray);
    --border-radius: 4px;
}
